---
import FilterOptions from "../components/filter-options.astro";
import RoasterList from "../components/roaster-list.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Coffee</title>
    <html data-theme="dark"></html>
  </head>
  <body>
    <header>
      <h1>Australian Coffee Roasters</h1>
    </header>
    <main>
      <!-- filter list by state, if roaster has cafe, or if is a multi-roaster offering -->
      <FilterOptions />

      <!-- result section -->
	  <RoasterList />
    </main>
  </body>
</html>
