---
const states = ["NSW", "VIC", "QLD", "WA", "SA", "TAS", "ACT", "NT"];

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="p-8 text-center">
    <h1 class="text-4xl font-bold">Welcome to BeanFinder</h1>
    <div class="text-lg p-8">
      <p class="pb-4">Discover the best coffee roasters from around the country.</p>
      <p>
        Whether you're looking for a roaster in your state, or an online
        subscription where you can try a few different roasters at once - we've
        got you covered.
      </p>
    </div>

    <!-- State Selection Section -->
    <div>
      <h2 class="text-2xl font-bold mb-4">Select Your State</h2>
      <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
        {
          states.map((state) => (
            <a
              href={`/roasters/${state}/false/1`}
              class="btn btn-outline btn-primary"
            >
              {state}
            </a>
          ))
        }
      </div>
    </div>
    <!-- Quick Links Section -->
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4 p-8">
      <a href="/roasters/online-subscriptions/1" class="btn btn-primary">
        Find a Multi-Roaster Subscription
      </a>
      <a href="/roasters/" class="btn btn-primary"> Show me everything! </a>
    </div>
  </div>
</Layout>
