---
import FilterRoasterList from "../components/filter-roaster-list.astro";
import Nav from "../components/nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Australian Coffee Roasters</title>
  </head>
  <body>
    <header>
      <Nav /> 
    </header>
    <main>
      <FilterRoasterList /> 
    </main>
  </body>
</html>
