---
export const prerender = true;

import Layout from "../layouts/Layout.astro";

import RoasterForm from "../components/RoasterForm.astro";

---
<Layout title="Submit a Roaster">
  <div class="p-4" id="wrapper">
    <RoasterForm />
  </div>
</Layout>
