---
import Nav from "../components/nav.astro";
import RoasterForm from "../components/roaster-form.astro";
import Footer from "../components/footer.astro";

export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Australian Coffee Roasters</title>
  </head>
  <body class="flex flex-col min-h-svh">
    <header>
      <Nav />
    </header>
    <main class="flex-grow p-8">
      <RoasterForm />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
