# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# vs code setting folder
.vscode

# browser test artifacts
playwright-report/
test-results/
coverage/

# Local netlify folder 
.netlify
