---
import Layout from "../../layouts/Layout.astro"

import AllRoasters from "../../components/AllRoasters.astro"
import FilterDrawer from "../../components/FilterDrawer.astro"
---

<Layout title="Australian Coffee Roasters">
  <h1 class="text-3xl font-bold p-4">All Coffee Roasters in Australia*</h1>
  <FilterDrawer>
    <div slot="main-content">
        <AllRoasters />
        <p class="p-8 text-xl font-thin">* probably</p>
    </div>
  </FilterDrawer>
</Layout>