---

---

<footer class="footer footer-center bg-base-300 text-base-content p-8">
    <aside>
      <p>Found an issue or have a great roaster recommendation? Let me know <a href="/add-roaster">here.</a></p>
      <p>Copyright © {new Date().getFullYear()} - All right reserved by Xander Salathe</p>
    </aside>
  </footer>