---
import ThemeController from "./theme-controller.astro"
---

<div class="navbar bg-base-100 p-4">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">BeanFinder <img src="/favicon.svg" alt="favicon"></a> 
    </div>
    <div class="flex-none">
      <ThemeController />
    </div>
  </div>