---
import ThemeController from "./in-development/theme-controller.astro"
---

<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Australian Coffee Roasters</a>
    </div>
    <div class="flex-none">
      <ThemeController />
    </div>
  </div>