---
interface Roaster {
  Name: string;
  Website: string;
  State: string;
  hasCafe: boolean;
  multiRoaster: boolean;
}

// Define the props the component will accept
export interface Props {
  roaster: Roaster;
}

const { roaster } = Astro.props;
---

<div
  id="wrapper"
  class="flex flex-wrap sm:flex-col md:flex-row gap-4 justify-center"
>
</div>
<div class="card bg-base-100 w-96 shadow-2xl">
  <div class="card-body">
    <h2 class="card-title justify-center">{roaster.Name}</h2>
    <div class="card-actions justify-center">
      <a
        href={roaster.Website}
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary min-w-48 h-12 flex items-center justify-center"
        style="padding: 12px 24px; font-size: 16px;">Website</a
      >
    </div>
  </div>
</div>
