---

---

<p>
    Here's an example of a Netlify Form! When you fill this out, the submissions
    can be found in the Netlify Admin site.
  </p>
  <div class="feedback-form">
    <form
      data-netlify="true"
      netlify-honeypot
      name="feedback"
      method="POST"
      action="/success"
    >
      <p class="hidden">
        <label>
          Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
      </p>
      <input type="hidden" name="form-name" value="feedback" />
      <label for="name">Name</label>
      <input id="name" type="text" name="name" />
      <label for="email">Email</label>
      <input id="email" type="email" name="email" required />
      <label for="feedback">What is your feedback?</label>
      <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>