---
import Header from "../components/Header.astro";
import FooterComponent from "../components/FooterComponent.astro"
---

<html lang="en" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title || "BeanFinder"}</title>
  </head>
  <body class="flex flex-col min-h-svh mx-auto">
    <header>
      <Header />
      <!-- Named slot for dynamic content -->
      <slot name="header-content" />
    </header>
    <main class="flex-grow p-4">
      <slot />
    </main>
    <footer>
      <FooterComponent />
    </footer>
  </body>
</html>
